<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Your website title" />
    <meta property="og:site_name" content="Your site name" />
    <title>Please login</title>
  </head>

  <body>
    <a href="/login"><button>Sign in with 42 account</button></a>
  </body>
</html>
